
.Content
  &__Left
    +span-columns(7)
    +row($direction: RTL)
    float: left
    +media($screen-md-max)
      +span-columns(12)
      +shift(0)
    .video_holder
      margin-top: em(24)
      iframe
        width: 100%
        max-width: 770px
        height: 400px
    h2
      font-size: 54px
      font-style: normal
      font-stretch: normal
      line-height: 60px
      letter-spacing: normal
      text-align: left
      color: #292e35
      margin: em(10) em(0)
      +media($screen-md-max)
        margin: 0
    p
      font-family: Georgia
      font-size: 20px
      font-style: normal
      font-stretch: normal
      line-height: 30px
      letter-spacing: normal
      text-align: left
      color: #1f2228
      margin: em(32) 0
    ul
      li
        font-family: $NeueTextBold
        margin: 40px 20px
        position: relative
        font-size: 18px
        font-style: normal
        font-stretch: normal
        letter-spacing: normal
        text-align: left
        color: #1f2228
        &:before
          content: " "
          padding: 4px
          border-radius: 8px
          border: solid 2px #ef0030
          position: absolute
          left: -25px
          top: 3px
          display: inline-block
    .locations-grid
      &.global

      h3.title
        font-size: 54px
        font-style: normal
        font-stretch: normal
        line-height: 60px
        letter-spacing: -1px
        color: #000000
        margin: 10px 0 40px

      h5
        font-size: 16px
        font-style: normal
        font-stretch: normal
        line-height: 24px
        letter-spacing: normal
        color: #ef0023
    h3
      .red
        color: #ef0030
  &__Right
    +span-columns(4)
    margin-left: 0
    +media($screen-md-max)
      +span-columns(12)
    position: relative
    top: -108px
    z-index: 100
    +media($screen-md-max)
      top: 20px
    .contact-form__form
      +media($screen-md-max)
        margin: 0 0 3em
    .lead-form_head
      background-color: #ef0030
      padding: 30px 0
      h3
        font-size: 48px
        font-style: normal
        font-stretch: normal
        line-height: 48px
        letter-spacing: normal
        text-align: center
        color: #ffffff
        +media($screen-md-max)
          font-size: 30px
          line-height: 30px
