@import "bourbon/bourbon";
@import "neat/neat";

$OldMob: new-breakpoint(max-width 359px, 4);
$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);

.mobileForm {
	color: #fff;
	display: none;
	@include media($Mob){
	  	display: block;
	}
	@include media($customBreak){
	  	display: block;
	}
	@include media($Desktop){
	  	display: none;
	}
}
header #phone p a{
	color: #fff; 
	text-decoration: none;
	@include media($Tablet){
	  	color: #fff; 
	  	text-decoration: none;
	}
	@include media($Mob){
	  	color: #fff; 
	}
}
.tiles {
	@include media($Desktop){
    	margin-top: 0px; 
    }
	@include media($Tablet){
    	margin-top: 0px; 
    }
    #section .contain{
    	@include media($Mob){
	    	width: 60%;
	        margin: 0px 20%; 
    	}
    	img {
		    @include media($Tablet){
			    margin-top: 80px;
			}
			@include media($Mob){
				margin-top: 65px;
			}
		}
    }
}

.mobileForm form input[type="submit"] {
	 @include media($Tablet){    
	    height: 40px;
	    border-radius: 0px;
	}
}
#middle {
	@include media($Mob){
  		background-size: 45%, 100%; 
  	}
}
.goToFormMobile {
	@include media($Mob){
  		display: none; 
  	}
  	@include media($Tablet){
  		display: none; 
  	}
}
.footerSplash{
	@include media($Mob){
  		height: 580px;
  	}
}
.jvFloat .placeHolder.active{
	opacity: 0;
}
.footerSplash footer .contain a.button{
	@include media($Mob){
  		padding: 15px 25px !important;
  	}
}

header{
	#SlideInfo{
		.VertAlign{
			top: auto !important;
		    left: auto !important;
		    transform:none !important;
		    padding-top: 180px;
		}
	} 
} 

main{
	@include media($Tablet){
		h2{
			margin: 0px 30px !important;
		}
		.hold{
			margin: 0px 30px !important;
			img{
				margin-right: 10px;
			}
		}
	}
	@include media($Mob){
		h2{
		font-size: 56px;	
		margin: 0px 15px !important;
		&:first-child{
			margin-top: 24px;
		}
		&.futura{
			font-size: 52px;
			margin: 0px 15px !important;
		  }
		}

		h5 {
			margin: 45px 15px 0 !important;
		}
		p {
			margin: 0px 15px !important;
			/*overflow-wrap: break-word;*/
			overflow-wrap: break-word;
		    word-wrap: break-word;

		   /*-ms-word-break: break-all;*/
		   /* This is the dangerous one in WebKit, as it breaks things wherever */
		   /*word-break: break-all; */
		   /* Instead use this non-standard one: */
		   /*word-break: break-word;*/

		}
		span{

			&.breakword{
				overflow-wrap: break-word;
			    word-wrap: break-word;

			   -ms-word-break: break-all;
			   word-break: break-all;
			   /*word-break: break-word;*/
			   
			   -ms-hyphens: auto;
			  -moz-hyphens: auto;
			  -webkit-hyphens: auto;
			  hyphens: auto;
			}
			
			p{
				margin: 0px 15px !important;
				/*overflow-wrap: break-word;*/
				word-wrap: break-word;
			}
		}
		ol {
			margin: 0px 15px !important;
		}
		.hold{
			margin: 0px 15px 20px !important;
			
			img{
				margin-bottom:40px;
				margin-right: 8px;
			}
			h2{
				display: inline-block;
				width: 50%;
			}
			h3{
				font-size: 17px;
				line-height: 30px;
			}
			ul
			{
				margin: 0px;
			    padding: 0px;
			    padding-left: 18px;
			}
		}
	}
	
}
input, select
{
	@include media($Mob){
		font-size: 16px;
	}
}
.keypathMobile
{
	display: none;
}

main{
	@include media($Desktop){
		width: 59%;
		margin-right: 0;
	}
	@include media($StandardDesktop){
		width: 59%;
		margin-right: 0;
	}
}
main .hold h3{	
	@include media($Desktop){
		font-size: 32px;
	}
	@include media($StandardDesktop){
		font-size: 37.5px;
	}
}

main ol li
{
	font-family: Georgia, Times New Roman serif !important;

	b{
		font-family: Georgia, Times New Roman serif !important;
		font-weight: bold;
	}
}
main div.hold img{
	@include media($Desktop){
		margin: 40px 8px;
	}
}

main div.hold:first-of-type img{
	@include media($Desktop){
		margin-top: 0px;
	}
}
main ol {
	margin-bottom: 60px !important;
}
main > h2{
	margin-top: 50px;
}
main > span > p{
	margin-bottom: 50px;
}

/* iPhone 5 Issue fixes start*/

header #SlideInfo h1{
	@include media($Mob){
		font-size: 65px;
	    line-height: 70px;
	}
}
header #logo{
	@include media($Mob){
		float: none;
	    margin-right: 0%;
	    width: 14.70196%;
	    position: absolute;
	    top: 0;
	    left: 0px;
	}
}
header #phone {
	@include media($Mob){
	    float: none;
	    margin-right: 0%;
	    width: 14.70196%;
	    position: absolute;
	    top: 0px;
	    right: 6px;
	}
}
header #SlideInfo{
	@include media($Mob){
		width: 80%;
		margin-left: 10%;
	}
}
header #SlideInfo p{
	@include media($Mob){
		padding: 5px 10px;
		font-size: 13px;
		line-height: 20px;
	}
}
.mobileForm h4{
	@include media($Mob){
		font-size: 34px;
		text-align: center;
	}
}
.mobileForm #Intro{
	@include media($Mob){
		padding: 10px;
	}
}
header #logo img{
	@include media($Mob){
		width: 60px !important;
	}

}
