html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: Have Heart One;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/HaveAHeart/Have Heart One.eot");
  src: url("../TYPEFACES/HaveAHeart/Have Heart One.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/HaveAHeart/Have Heart One.ttf") format("truetype"), url("../TYPEFACES/HaveAHeart/Have Heart One.svg#Have Heart One") format("svg"); }
@font-face {
  font-family: Have Heart Two;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/HaveAHeart/Have Heart Two.eot");
  src: url("../TYPEFACES/HaveAHeart/Have Heart Two.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/HaveAHeart/Have Heart Two.woff2") format("woff2"), url("../TYPEFACES/HaveAHeart/Have Heart Two.woff") format("woff"), url("../TYPEFACES/HaveAHeart/Have Heart Two.ttf") format("truetype"), url("../TYPEFACES/HaveAHeart/Have Heart Two.svg#Have Heart Two") format("svg"); }
@font-face {
  font-family: Nexa-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/Nexa-Bold.eot");
  src: url("../TYPEFACES/Nexa/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/Nexa-Bold.woff") format("woff"), url("../TYPEFACES/Nexa/Nexa-Bold.ttf") format("truetype"), url("../TYPEFACES/Nexa/Nexa-Bold.svg#Nexa-Bold") format("svg"); }
@font-face {
  font-family: Nexa-XBold;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/Nexa-XBold.eot");
  src: url("../TYPEFACES/Nexa/Nexa-XBold.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/Nexa-XBold.woff2") format("woff2"), url("../TYPEFACES/Nexa/Nexa-XBold.woff") format("woff"), url("../TYPEFACES/Nexa/Nexa-XBold.ttf") format("truetype"), url("../TYPEFACES/Nexa/Nexa-XBold.svg#Nexa-XBold") format("svg"); }
@font-face {
  font-family: Nexa-Black;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaBlack.eot");
  src: url("../TYPEFACES/Nexa/NexaBlack.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaBlack.woff") format("woff"), url("../TYPEFACES/Nexa/NexaBlack.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaBlack.svg#Nexa-Black") format("svg"); }
@font-face {
  font-family: Nexa-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaRegular.eot");
  src: url("../TYPEFACES/Nexa/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaRegular.woff") format("woff"), url("../TYPEFACES/Nexa/NexaRegular.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaRegular.svg#Nexa-Regular") format("svg"); }
html {
  margin: 0;
  padding: 0;
  font-size: 64.25%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }
  html img {
    width: 100%; }

body {
  margin: 0; }

h1 {
  font-family: "Have Heart One", cursive;
  font-size: 125px;
  font-weight: lighter; }

h2 {
  font-family: "Have Heart One", cursive;
  font-size: 100px;
  font-weight: normal; }

h3 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 50px;
  color: #B90035; }

h4 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: normal; }

h5 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: bold; }

h6 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 24px; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; }

a:hover {
  text-decoration: none; }

li {
  font-family: "Nexa-Regular", sans-serif;
  font-weight: normal; }

b {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: normal; }

body {
  background: #fff; }

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: #fff url(../slices/down.png) no-repeat 99% center;
  background-size: 9px;
  border-radius: 0;
  border: 1px solid #ddd; }

.left {
  float: left; }

.right {
  float: right; }

.head {
  background: url(../slices/GettyImages-470805863-NOTPURCHASED.jpg);
  background-position: center;
  background-size: auto 100%; }
  @media screen and (min-width: 2000px) {
    .head {
      background-size: 100%; } }

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: inherit; }
  header::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 900px) {
    header {
      height: 80%; } }
  header #phone {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #phone:last-child {
      margin-right: 0; }
    header #phone p {
      color: #fff;
      width: 250px;
      float: right;
      text-align: right; }
      header #phone p span {
        color: #aaa; }
  header #logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #logo:last-child {
      margin-right: 0; }
    header #logo img {
      margin: 15px 0 0 15px;
      width: 100px; }
  header #SlideInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: center;
    margin: auto;
    height: inherit; }
    header #SlideInfo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 900px) {
      header #SlideInfo {
        height: 100%; } }
    header #SlideInfo .VertAlign {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header #SlideInfo img {
      width: 50px; }
    header #SlideInfo h1 {
      color: #fff;
      margin: 0px 0px -30px; }
      @media screen and (max-width: 900px) {
        header #SlideInfo h1 {
          margin: 0;
          font-size: 75px;
          line-height: 70px; } }
    header #SlideInfo p {
      color: #fff;
      font-size: 18px; }
      @media screen and (max-width: 900px) {
          header #SlideInfo p {
          margin: 0;
          font-size: 13px; }  }

#middle {
  background: url(../slices/GettyImages_550216253_NOTPURCHASED.png) no-repeat, url(../slices/GettyImages_450123547_NOTPURCHASED.jpg) no-repeat;
  background-position: top right, bottom center;
  background-size: 45%, 125%; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main:last-child {
        margin-right: 0; } }
  main img.headline {
    width: 100%;
    margin-top: 100px; }
    @media screen and (max-width: 900px) {
      main img.headline {
        width: 95%;
        margin: 10px 5px; } }
  main p, main h5, main ol {
    margin-left: 130px; }
    @media screen and (max-width: 900px) {
      main p, main h5, main ol {
        margin: 0 30px; } }
  main span p {
    margin: -14px 0 20px 0; }
  main h2 {
    margin: 0;
    font-size: 75px; }
  @media screen and (max-width: 900px) {
    main .hold {
      clear: both; } }
  main .hold img {
    width: 45%;
    margin: 40px 20px 40px 0; }
    @media screen and (max-width: 900px) {
      main .hold img {
        margin: 5px 5px 45px; } }
  main .hold h3 {
    line-height: 40px;
    text-transform: uppercase;
    margin: 35px 0px 20px;
    display: inline-block;
    width: 50%; }
    @media screen and (max-width: 900px) {
      main .hold h3 {
        font-size: 20px;
        line-height: 20px;
        margin: 5px 0px 5px; } }
  main .hold p {
    font-size: 16px;
    margin: 0 0 55px 0; }
    @media screen and (max-width: 900px) {
      main .hold p {
        margin-bottom: 10px; } }
  main .hold b {
    font-family: Georgia, serif;
    font-weight: Bold; }
  main .hold:first-of-type img {
    margin-top: 0px; }
  main .hold:first-of-type h3 {
    margin-top: 0px; }
    @media screen and (max-width: 900px) {
      main .hold:first-of-type h3 {
        margin-top: 10px; } }
  main h5 {
    margin-top: 30px;
    font-family: "Nexa-Black", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: uppercase; }
  main ol {
    padding: 0;
    list-style: none; }
    main ol li {
      counter-increment: section;
      margin: 0 0 15px 85px;
      font-family: "Nexa-Regular", sans-serif;
      font-size: 15px; }
      main ol li br {
        display: block;
        margin-bottom: -10px;
        font-size: 2px;
        line-height: 2px;
        margin: 0 0 -12px 0px;
        padding: 0; }
    main ol li::before {
      content: counter(section);
      display: inline-block;
      height: 45px;
      width: 45px;
      padding: 8px 10px;
      margin-right: 40px;
      margin-left: -85px;
      font-family: "Nexa-Bold", sans-serif;
      line-height: 30px;
      border-radius: 15px;
      background-color: #fff;
      color: #B90035;
      background: url(../slices/Oval.png);
      background-size: 100%;
      text-align: center;
      position: relative;
      top: 10px; }

.aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background: #fff; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .aside {
      display: none; } }
  .aside #Intro {
    background: #B90035;
    padding: 15px; }
  .aside h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .aside p {
    color: #fff;
    margin: 0; }
  .aside form {
    margin-top: 10px; }
    .aside form input[type=submit] {
      background: #B90035;
      color: #fff;
      font-family: "Nexa-Bold", sans-serif;
      margin-bottom: 15px; }

.mobileForm {
  display: none; }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block;
      width: 95%;
      margin: -136px auto 0;
      background: #fff; } }
  .mobileForm #Intro {
    background: #B90035;
    padding: 15px; }
  .mobileForm h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .mobileForm p {
    color: #fff;
    margin: 0; }
  .mobileForm form {
    margin-top: 10px; }
    .mobileForm form input[type="submit"] {
      background: #B90035;
      color: #fff;
      font-family: "Nexa-Bold", sans-serif;
      margin-bottom: 15px; }

.goToFormMobile {
  display: none; }
  @media screen and (max-width: 900px) {
    .goToFormMobile {
      display: block;
      background: #B90035;
      position: fixed;
      background: #000;
      bottom: 0;
      width: 100%;
      z-index: 100; }
      .goToFormMobile h4 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0; }
      .goToFormMobile p {
        color: #fff; } }

.goToFormMobile {
  background: #B90035;
  padding: 10px; }
  .goToFormMobile a {
    text-decoration: none; }

.tiles {
  background: url(../slices/PhotoGrid.jpg);
  background-position: center;
  background-size: 100%;
  height: 1060px;
  margin-top: -125px; }
  @media screen and (max-width: 900px) {
    .tiles {
      background-position: center;
      background-size: 150%;
      height: 600px;
      clear: both; } }
  .tiles #section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .tiles #section::after {
      clear: both;
      content: "";
      display: block; }
    .tiles #section .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .tiles #section .contain:last-child {
        margin-right: 0; }
      .tiles #section .contain img {
        margin-top: 300px; }
        @media screen and (max-width: 900px) {
          .tiles #section .contain img {
            margin-top: 25px; } }
      .tiles #section .contain p {
        color: #fff;
        text-align: center;
        font-size: 16px; }
      .tiles #section .contain h6 {
        color: #fff;
        text-align: center; }

.footerSplash {
  background: url(../slices/GettyImages-550216253_2-NOTPURCHASED.jpg) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 700px; }
  @media screen and (max-width: 900px) {
    .footerSplash {
      background-position: center;
      background-size: 150%;
      height: 600px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .footerSplash footer::after {
      clear: both;
      content: "";
      display: block; }
    .footerSplash footer .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      text-align: center; }
      .footerSplash footer .contain:last-child {
        margin-right: 0; }
      .footerSplash footer .contain a.button {
        background: #B90035;
        color: #fff;
        padding: 15px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none; }
        @media screen and (max-width: 900px) {
          .footerSplash footer .contain a.button {
            font-size: 14px; } }
      .footerSplash footer .contain img {
        margin-top: 80px;
        margin-bottom: 45px; }

.copyright {background: #B90035; padding:10px 0;}
.copyright a, .copyright p {font-family: Nexa-Bold; color:#fff; margin:0;}

/*# sourceMappingURL=style2.css.map */
