html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* latin-ext */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local("Concert One"), local("ConcertOne-Regular"), url(../TYPEFACES/ConcertOne/ConcertOne-Regular-le.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local("Concert One"), local("ConcertOne-Regular"), url(../TYPEFACES/ConcertOne/ConcertOne-Regular-l.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url("../TYPEFACES/Merriweather/Inconsolata1.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url("../TYPEFACES/Merriweather/Inconsolata1.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata Regular"), local("Inconsolata-Regular"), url("../TYPEFACES/Merriweather/Inconsolata1.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../TYPEFACES/Merriweather/Merriweather1.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../TYPEFACES/Merriweather/Merriweather2.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../TYPEFACES/Merriweather/Merriweather3.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../TYPEFACES/Merriweather/Merriweather4.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../TYPEFACES/Merriweather/Merriweather5.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../TYPEFACES/Merriweather/Merriweather6.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../TYPEFACES/Merriweather/Merriweather7.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../TYPEFACES/Merriweather/Merriweather8.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../TYPEFACES/Merriweather/Merriweather9.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../TYPEFACES/Merriweather/Merriweather10.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url("../TYPEFACES/Merriweather/Merriweather11.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url("../TYPEFACES/Merriweather/Merriweather12.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url("../TYPEFACES/Merriweather/Merriweather13.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url("../TYPEFACES/Merriweather/Merriweather14.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather-BlackItalic"), url("../TYPEFACES/Merriweather/Merriweather15.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../TYPEFACES/Merriweather/Merriweather16.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../TYPEFACES/Merriweather/Merriweather17.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../TYPEFACES/Merriweather/Merriweather18.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../TYPEFACES/Merriweather/Merriweather19.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../TYPEFACES/Merriweather/Merriweather20.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../TYPEFACES/Merriweather/Merriweather21.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../TYPEFACES/Merriweather/Merriweather22.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../TYPEFACES/Merriweather/Merriweather23.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../TYPEFACES/Merriweather/Merriweather24.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../TYPEFACES/Merriweather/Merriweather25.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../TYPEFACES/Merriweather/Merriweather26.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../TYPEFACES/Merriweather/Merriweather27.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../TYPEFACES/Merriweather/Merriweather28.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../TYPEFACES/Merriweather/Merriweather29.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../TYPEFACES/Merriweather/Merriweather30.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../TYPEFACES/Merriweather/Montserrat1.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../TYPEFACES/Merriweather/Montserra2.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../TYPEFACES/Merriweather/Montserrat3.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../TYPEFACES/Merriweather/Montserrat4.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../TYPEFACES/Merriweather/Montserrat5.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../TYPEFACES/Merriweather/Montserrat6.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../TYPEFACES/Merriweather/Montserrat7.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../TYPEFACES/Merriweather/Montserrat8.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../TYPEFACES/Merriweather/Montserrat91.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../TYPEFACES/Merriweather/Montserrat10.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/* New (Redesign) Styles Starts */
i {
  font-style: normal; }

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
  font-family: 'Concert One', sans-serif; }

p {
  font-size: 15px;
  line-height: 25px; }

h1 {
  font-family: 'NeueBold', sans-serif;
  font-size: 100px;
  font-weight: bold; }

h2 {
  font-family: 'NeueBold', sans-serif;
  font-size: 44px;
  font-weight: bold; }

h3 {
  font-family: 'NeueBold', sans-serif;
  font-size: 50px;
  color: #B90035; }

h4 {
  font-family: 'NeueMedium', sans-serif;
  font-weight: normal; }

h5 {
  font-family: "NeueMedium", sans-serif;
  font-weight: bold; }

h6 {
  font-family: "NeueMedium", sans-serif;
  font-size: 24px; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; }

a:hover {
  text-decoration: none; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1000px) {
    .content {
      padding: 0px 10px; } }
  @media screen and (min-width: 1280px) {
    .content {
      padding: 0px; } }

.content::after {
  clear: both;
  content: "";
  display: block; }

.head {
  background-position: top center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  height: 535px; }
  @media screen and (max-width: 1000px) {
    .head {
      height: 535px; } }
  @media screen and (max-width: 767px) {
    .head {
      height: 400px; } }
  .head header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 767px) {
      .head header {
        height: 400px;
        position: relative; } }
    .head header #logo {
      float: left;
      display: block;
      margin-right: 0%;
      width: 40%; }
      .head header #logo img {
        margin: 15px 0 0 15px;
        /*width: 300px;*/
        width: 330px; }
        @media screen and (max-width: 1000px) {
          .head header #logo img {
            /*width: 210px;*/ } }
        @media screen and (max-width: 767px) {
          .head header #logo img {
            margin: 25px 0 0 5px;
            width: 220px; } }
    .head header #phone {
      float: right;
      display: block;
      margin-top: 15px;
      width: 40%;
      font-family: 'Nexa-regular', sans-serif;
    /*p{
    	color: #fff;
	    width: 250px;
	    float: right;
	    text-align: right;	
	    font-family: 'Nexa-regular', sans-serif;
	    @include media($Mob){
		    display: none;
		}
	    span{
	    	color: #fff;
	    }
	    a{
	    	color: #fff;
	    	text-decoration: none;
	    }
    }*/ }
      .head header #phone a.phone_icon {
        background: url("../slices/phone_icon.png") no-repeat top left;
        width: 320px;
        float: right;
        padding-left: 42px;
        font-family: 'NeueMedium', sans-serif;
        font-size: 25px;
        color: #fff;
        min-height: 57px;
        display: inline-block;
        text-decoration: none;
        padding-top: 14px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); }
        @media screen and (max-width: 767px) {
          .head header #phone a.phone_icon {
            width: 45px;
            margin-top: 8px; } }
        @media screen and (max-width: 767px) {
          .head header #phone a.phone_icon span {
            display: none; } }
    .head header #SlideInfo {
      float: left;
      display: block;
      width: 100%;
      text-align: center;
      margin: auto;
      height: auto !important; }
      @media screen and (max-width: 767px) {
        .head header #SlideInfo {
          float: none;
          display: inline-block;
          width: 100%;
          text-align: left;
          margin: auto;
          height: auto !important;
          position: absolute;
          bottom: 100px;
          left: 0px; } }
      .head header #SlideInfo .VertAlign {
        top: auto !important;
        left: auto !important;
        transform: none !important;
        position: relative;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
        @media screen and (max-width: 767px) {
          .head header #SlideInfo .VertAlign {
            padding-top: 45px; } }
      .head header #SlideInfo h1 {
        color: #fff;
        padding: 130px 10px 0px;
        margin: 0px 0px -20px;
        text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); }
        @media screen and (min-width: 1000px) {
          .head header #SlideInfo h1 {
            font-size: 83px;
            line-height: 88px; } }
        @media screen and (min-width: 1280px) {
          .head header #SlideInfo h1 {
            font-size: 100px;
            line-height: 100px; } }
        @media screen and (max-width: 1000px) {
          .head header #SlideInfo h1 {
            font-size: 75px;
            line-height: 82px; } }
        @media screen and (max-width: 767px) {
          .head header #SlideInfo h1 {
            margin: 0px;
            font-size: 52px;
            line-height: 58px;
            padding: 0px 10px 0px; } }
        .head header #SlideInfo h1 i {
          color: #fee800;
          width: 51px;
          height: 70px;
          background: url(../slices/main_header_arrow.png) no-repeat 0px 0px;
          display: inline-block;
          vertical-align: middle; }
          @media screen and (max-width: 1000px) {
            .head header #SlideInfo h1 i {
              height: 90px;
              background: url(../slices/main_header_arrow.png) no-repeat 0px 17px;
              background-size: 85%; } }
          @media screen and (max-width: 767px) {
            .head header #SlideInfo h1 i {
              height: 51px;
              background: url(../slices/main_header_arrow.png) no-repeat 0px 7px;
              background-size: 55%; } }
      .head header #SlideInfo p {
        color: #fff;
        font-size: 18px; }
        @media screen and (max-width: 1000px) {
          .head header #SlideInfo p {
            font-size: 20px;
            padding-top: 20px; } }
        @media screen and (max-width: 767px) {
          .head header #SlideInfo p {
            font-size: 18px;
            padding-top: 24px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0; } }

.content_upper {
  width: 100%;
  margin-bottom: 30px;
  /*position: relative;*/ }
  .content_upper .form_holder {
    float: right;
    width: 380px;
    display: block;
    margin-top: 0px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: relative;
    z-index: 999; }
    @media screen and (max-width: 1000px) {
      .content_upper .form_holder {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .content_upper .form_holder {
        width: 100%;
        border-bottom: 2px solid #656262;
        box-shadow: none; } }
    .content_upper .form_holder #Intro {
      background: #f5293d;
      padding: 10px 15px;
      min-height: 65px;
      box-sizing: border-box;
      cursor: pointer; }
      .content_upper .form_holder #Intro h3 {
        color: #fff;
        font-size: 29px;
        font-weight: bold;
        margin: 0;
        line-height: 42px; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder #Intro h3 {
            font-size: 32px; } }
      .content_upper .form_holder #Intro p {
        color: #fff;
        margin: 0; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder #Intro p {
            /*padding:10px 15px;*/ } }
        @media screen and (min-width: 1000px) {
          .content_upper .form_holder #Intro p {
            padding-left: 70px;
            padding-right: 70px; } }
        @media screen and (min-width: 1280px) {
          .content_upper .form_holder #Intro p {
            padding-left: 100px;
            padding-right: 100px; } }
    .content_upper .form_holder form {
      padding: 0 15px 15px; }
      .content_upper .form_holder form input {
        padding: 8px;
        width: 100%;
        border: 1px solid #ddd; }
        .content_upper .form_holder form input[type="submit"] {
          background: #ee002f;
          color: #fff;
          font-family: "Nexa-Bold", sans-serif;
          cursor: pointer; }
          @media screen and (max-width: 767px) {
            .content_upper .form_holder form input[type="submit"] {
              height: 40px;
              border-radius: 0px; } }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder form input {
            font-size: 16px; } }
      .content_upper .form_holder form select {
        padding: 8px;
        width: 100%;
        border: 1px solid #ddd; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder form select {
            font-size: 16px; } }
  .content_upper .success_holder {
    width: 595px;
    float: left;
    padding-top: 42px; }
    @media screen and (max-width: 1000px) {
      .content_upper .success_holder {
        /*width: 385px;*/
        width: 100%;
        padding: 10px; } }
    @media screen and (max-width: 767px) {
      .content_upper .success_holder {
        width: 100%;
        padding: 10px; } }
    @media screen and (min-width: 1280px) {
      .content_upper .success_holder {
        width: 795px; } }
    .content_upper .success_holder img.headline {
      width: 80%; }
      @media screen and (max-width: 1000px) {
        .content_upper .success_holder img.headline {
          max-width: 380px; } }
    .content_upper .success_holder h2 {
      font-size: 44px;
      color: #231f20;
      letter-spacing: -0.25px;
      line-height: 54px; }
      @media screen and (max-width: 767px) {
        .content_upper .success_holder h2 {
          font-size: 43px;
          line-height: 50px; } }
      .content_upper .success_holder h2 i {
        color: #ee002f;
        width: 20px;
        height: 30px;
        display: inline-block;
        background: url("../slices/loc_side_arrow.png") no-repeat top center; }
        @media screen and (max-width: 767px) {
          .content_upper .success_holder h2 i {
            height: 29px;
            background-size: 28px; } }
    .content_upper .success_holder p {
      padding-right: 100px;
      font-size: 19px;
      color: #6d6e71;
      line-height: 32px; }
      @media screen and (max-width: 1000px) {
        .content_upper .success_holder p {
          padding-right: 10px; } }
      @media screen and (max-width: 767px) {
        .content_upper .success_holder p {
          padding: 0;
          font-size: 16px;
          line-height: 28px; } }
    .content_upper .success_holder ul li {
      font-size: 15px;
      font-family: Georgia, Times New Roman serif;
      line-height: 24px; }
    .content_upper .success_holder .video_holder iframe {
      width: 100%;
      max-width: 770px;
      height: 425px;
      margin: 15px 0; }
      @media screen and (max-width: 767px) {
        .content_upper .success_holder .video_holder iframe {
          height: 225px; } }

#middle {
  background: #6d6e71; }

main {
  width: 595px;
  float: left;
  padding-top: 20px;
  padding-bottom: 15px; }
  @media screen and (max-width: 1000px) {
    main {
      width: 100%;
      padding: 10px; } }
  @media screen and (max-width: 767px) {
    main {
      width: 100%;
      padding: 10px; } }
  @media screen and (min-width: 1280px) {
    main {
      width: 795px; } }
  main .avail_holder {
    width: 100%;
    float: left;
    padding-bottom: 0px; }
    @media screen and (max-width: 767px) {
      main .avail_holder {
        padding-bottom: 0; } }
    main .avail_holder h2.availdegree {
      margin: 38px 0 10px 0;
      font-size: 46px;
      line-height: 58px;
      color: #fff; }
      @media screen and (max-width: 1000px) {
        main .avail_holder h2.availdegree {
          font-size: 40px;
          line-height: 58px; } }
      @media screen and (max-width: 767px) {
        main .avail_holder h2.availdegree {
          font-size: 24px;
          line-height: 36px; } }
    main .avail_holder p {
      margin: 0 0 28px 0;
      color: #fff;
      font-size: 18px;
      line-height: 29px; }
      @media screen and (max-width: 767px) {
        main .avail_holder p {
          font-size: 14px;
          line-height: 25px; } }
  main .all_programs {
    width: 100%;
    float: left; }
    main .all_programs h1 {
      line-height: 35px;
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      margin: 0px 0px 13px;
      width: 100%;
      display: inline-block;
      cursor: pointer; }
      @media screen and (max-width: 767px) {
        main .all_programs h1 {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.4px;
          padding-left: 20px;
          box-sizing: border-box;
          background: url("../slices/side_arrow.png") no-repeat 0 3px;
          background-size: 16px; } }
      @media screen and (max-width: 767px) {
        main .all_programs h1.open {
          background: url("../slices/down_arrow.png") no-repeat 0 3px;
          background-size: 16px; } }
      main .all_programs h1 i {
        color: #ee002f;
        /*font-family: Georgia, Times New Roman serif;*/
        background: url("../slices/side_arrow.png") no-repeat top center;
        width: 18px;
        height: 20px;
        display: inline-block; }
        @media screen and (max-width: 767px) {
          main .all_programs h1 i {
            background-size: 16px;
            height: 14px;
            display: none; } }
        main .all_programs h1 i.open_arrow {
          background: url("../slices/down_arrow.png") no-repeat top center; }
          @media screen and (max-width: 767px) {
            main .all_programs h1 i.open_arrow {
              background-size: 16px;
              height: 14px; } }
    main .all_programs blockquote {
      display: none;
      font-family: Georgia, Times New Roman serif;
      font-size: 20px;
      color: #fff;
      line-height: 30px;
      margin: 0 0 26px;
      padding: 0px; }
      @media screen and (max-width: 767px) {
        main .all_programs blockquote {
          font-size: 14px;
          line-height: 25px; } }
      main .all_programs blockquote p {
        font-size: 18px;
        color: #fff;
        line-height: 29px;
        margin: 0px;
        padding: 0 0 5px; }
        @media screen and (max-width: 767px) {
          main .all_programs blockquote p {
            font-size: 14px;
            line-height: 25px; } }
  main .programs_row {
    width: 100%;
    float: left; }
    main .programs_row .hold {
      width: 100%;
      float: left;
      padding-bottom: 20px; }
      @media screen and (max-width: 767px) {
        main .programs_row .hold {
          width: 100%;
          padding-bottom: 14px; } }
      main .programs_row .hold:nth-child(1) {
        /*padding-right: 50px;*/ }
        @media screen and (max-width: 1000px) {
          main .programs_row .hold:nth-child(1) {
            /*padding-right: 10px;*/ } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold:nth-child(1) {
            padding-right: 0px; } }
      main .programs_row .hold:nth-child(2) {
        /*padding-left: 50px;*/ }
        @media screen and (max-width: 1000px) {
          main .programs_row .hold:nth-child(2) {
            /*padding-left: 10px;*/ } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold:nth-child(2) {
            padding-left: 0px; } }
      main .programs_row .hold h3 {
        line-height: 38px;
        font-size: 26px;
        color: #fff;
        text-transform: uppercase;
        margin: 0px 0px 10px;
        display: inline-block;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box; }
        @media screen and (max-width: 767px) {
          main .programs_row .hold h3 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.4px; } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold h3.open {
            background: url("../slices/icon_minus.png") no-repeat top left;
            background-size: 30px; } }
        main .programs_row .hold h3 i {
          color: #ee002f;
          /*font-family: Georgia, Times New Roman serif;*/
          background: url("../slices/side_arrow.png") no-repeat top center;
          width: 18px;
          height: 20px;
          display: inline-block; }
          @media screen and (max-width: 767px) {
            main .programs_row .hold h3 i {
              background-size: 16px;
              height: 14px; } }
          main .programs_row .hold h3 i.open_arrow {
            background: url("../slices/down_arrow.png") no-repeat top center; }
            @media screen and (max-width: 767px) {
              main .programs_row .hold h3 i.open_arrow {
                background-size: 16px;
                height: 14px; } }
      main .programs_row .hold section {
        display: none; }
        main .programs_row .hold section p {
          font-size: 20px;
          color: #fff;
          line-height: 30px; }
          @media screen and (max-width: 767px) {
            main .programs_row .hold section p {
              font-size: 14px;
              line-height: 25px; } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold section {
            font-size: 14px;
            display: none; } }

.additional_programs_holder {
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-top: 35px;
  min-height: 600px; }
  @media screen and (max-width: 767px) {
    .additional_programs_holder {
      background-image: none !important;
      background-color: #000; } }
  .additional_programs_holder .content {
    text-align: center; }
    .additional_programs_holder .content .title {
      width: auto;
      display: inline-block;
      margin: 0 auto; }
      .additional_programs_holder .content .title .additional_text {
        font-family: "Have Heart One", cursive;
        color: #fff;
        font-size: 82px;
        text-align: left;
        float: left;
        clear: both; }
        @media screen and (max-width: 767px) {
          .additional_programs_holder .content .title .additional_text {
            float: none;
            text-align: center; } }
      .additional_programs_holder .content .title h3 {
        text-align: left;
        float: left;
        margin: -38px 0 0 46px;
        text-transform: uppercase;
        font-size: 47px;
        clear: both; }
        @media screen and (max-width: 1000px) {
          .additional_programs_holder .content .title h3 {
            font-size: 40px; } }
        @media screen and (max-width: 767px) {
          .additional_programs_holder .content .title h3 {
            float: none;
            text-align: center;
            margin: -15px 0 0 0;
            font-size: 36px;
            line-height: 41px; } }
    .additional_programs_holder .content .addi_programs {
      width: 100%;
      float: left;
      margin: 20px 0; }
      .additional_programs_holder .content .addi_programs ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .additional_programs_holder .content .addi_programs ul li {
          width: 33.3%;
          float: left;
          padding: 0px 20px;
          text-align: center;
          font-family: "Nexa-Bold", sans-serif;
          font-size: 19px;
          color: #fff;
          line-height: 35px;
          list-style: none; }
          @media screen and (max-width: 1000px) {
            .additional_programs_holder .content .addi_programs ul li {
              width: 50%; } }
          @media screen and (max-width: 767px) {
            .additional_programs_holder .content .addi_programs ul li {
              width: 100%;
              padding: 0px 12px; } }
    .additional_programs_holder .content .fillout_text {
      width: 100%;
      text-align: center;
      font-family: "Nexa-Bold", sans-serif;
      font-size: 22px;
      color: #fff;
      float: left;
      padding: 36px 20px 30px; }

.locations_holder {
  background: #edeeef;
  position: relative;
  padding-top: 55px;
  min-height: 600px;
  width: 100%;
  display: inline-block; }
  @media screen and (max-width: 1000px) {
    .locations_holder {
      padding-left: 10px;
      padding-right: 10px; } }
  @media screen and (max-width: 767px) {
    .locations_holder {
      background-color: #edeeef;
      padding-top: 30px;
      padding-bottom: 15px;
      min-height: auto; } }
  .locations_holder .content {
    text-align: left; }
    .locations_holder .content .title {
      width: 100%;
      display: inline-block;
      margin: 0 auto; }
      .locations_holder .content .title h3 {
        text-align: left;
        float: left;
        margin: 0px 0 0 0px;
        font-size: 45px;
        color: #231f20;
        width: 100%;
        font-weight: bold;
        letter-spacing: -0.60px; }
        @media screen and (max-width: 1000px) {
          .locations_holder .content .title h3 {
            font-size: 34px; } }
        @media screen and (max-width: 767px) {
          .locations_holder .content .title h3 {
            float: none;
            text-align: left;
            margin: -14px 0 0 0;
            font-size: 28px;
            line-height: 36px; } }
        .locations_holder .content .title h3 i {
          color: #ee002f;
          width: 20px;
          height: 27px;
          display: inline-block;
          background: url("../slices/loc_side_arrow.png") no-repeat top center; }
          @media screen and (max-width: 767px) {
            .locations_holder .content .title h3 i {
              height: 18px;
              background-size: 20px; } }
          @media screen and (max-width: 767px) {
            .locations_holder .content .title h3 i.loc_open_arrow {
              background: url("../slices/loc_down_arrow.png") no-repeat top center;
              background-size: 22px; } }
    .locations_holder .content .locations_list {
      width: 100%;
      float: left;
      margin: 20px 0 15px;
      padding-bottom: 12px;
      border-bottom: 3px solid #ee002f; }
      @media screen and (max-width: 767px) {
        .locations_holder .content .locations_list {
          display: none; } }
      .locations_holder .content .locations_list ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .locations_holder .content .locations_list ul li {
          width: 33%;
          float: left;
          list-style: none;
          padding: 0px 12px 0 0;
          min-height: 105px; }
          @media screen and (max-width: 1000px) {
            .locations_holder .content .locations_list ul li {
              min-height: 125px;
              width: 33%; } }
          @media screen and (max-width: 767px) {
            .locations_holder .content .locations_list ul li {
              width: 100%;
              min-height: 100px; } }
          .locations_holder .content .locations_list ul li h4 {
            text-align: left;
            font-family: 'NeueBold', sans-serif;
            font-size: 22px;
            color: #f5283c;
            line-height: 35px;
            margin: 0px;
            font-weight: bold; }
            @media screen and (max-width: 767px) {
              .locations_holder .content .locations_list ul li h4 {
                font-size: 23px;
                text-align: center; } }
          .locations_holder .content .locations_list ul li div {
            width: 100%;
            display: block;
            font-family: 'NeueRegular', sans-serif;
            color: #303132;
            font-size: 17px;
            line-height: 24px; }
            @media screen and (max-width: 767px) {
              .locations_holder .content .locations_list ul li div {
                font-size: 17px;
                line-height: 22px;
                text-align: center; } }
    .locations_holder .content .additional_locations {
      width: 100%;
      text-align: left;
      font-family: "Nexa-Bold", sans-serif;
      font-size: 22px;
      color: #fff;
      float: left;
      padding: 0px 20px 30px 0; }
      @media screen and (max-width: 767px) {
        .locations_holder .content .additional_locations {
          display: none; } }
      .locations_holder .content .additional_locations ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .locations_holder .content .additional_locations ul li {
          width: 50%;
          float: left;
          list-style: none;
          padding: 15px 12px 15px 0; }
          @media screen and (max-width: 767px) {
            .locations_holder .content .additional_locations ul li {
              width: 100%;
              padding: 15px 0px 15px 0;
              text-align: center; } }
          .locations_holder .content .additional_locations ul li h4 {
            text-align: left;
            font-family: 'NeueBold', sans-serif;
            margin: 0px;
            font-size: 22px;
            color: #f5283c;
            line-height: 35px;
            margin: 0px;
            font-weight: bold; }
            @media screen and (max-width: 1000px) {
              .locations_holder .content .additional_locations ul li h4 {
                font-size: 20px;
                line-height: 28px; } }
            @media screen and (max-width: 767px) {
              .locations_holder .content .additional_locations ul li h4 {
                font-size: 23px;
                text-align: center; } }
          .locations_holder .content .additional_locations ul li div {
            width: 100%;
            display: block;
            font-family: 'NeueRegular', sans-serif;
            color: #303132;
            font-size: 17px;
            line-height: 24px; }
          @media screen and (max-width: 767px) {
            .locations_holder .content .additional_locations ul li {
              text-align: center;
              font-size: 17px;
              line-height: 22px; } }

.testimonial_holder {
  width: 100%;
  float: left; }
  .testimonial_holder .content {
    text-align: left;
    padding: 50px 0; }
    .testimonial_holder .content .quote {
      /*font-size: 43px;*/
      font-size: 38px;
      color: #231f20;
      letter-spacing: -0.90px;
      text-align: center;
      margin: 0; }
      @media screen and (max-width: 767px) {
        .testimonial_holder .content .quote {
          font-size: 23px;
          line-height: 30px; } }
      .testimonial_holder .content .quote i {
        font-family: 'NeueBold', sans-serif;
        color: #f5283c;
        font-size: 50px;
        font-weight: bold;
        padding: 0 6px; }
        @media screen and (max-width: 767px) {
          .testimonial_holder .content .quote i {
            font-size: 36px; } }
    .testimonial_holder .content .owner_row {
      width: 100%; }
      .testimonial_holder .content .owner_row .owner_info {
        width: auto;
        float: right;
        text-align: left;
        font-family: Georgia, Times New Roman serif;
        font-size: 23px;
        color: #7b7b7b;
        line-height: 29px;
        font-style: italic;
        padding-bottom: 12px;
        padding-top: 10px;
        padding-right: 10px; }
        @media screen and (max-width: 767px) {
          .testimonial_holder .content .owner_row .owner_info {
            font-size: 14px;
            line-height: 23px; } }

.footerSplash {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 25px;
  min-height: 700px; }
  @media screen and (max-width: 767px) {
    .footerSplash {
      min-height: 600px;
      padding-top: 5px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .footerSplash footer .title {
      width: auto;
      display: inline-block;
      margin: 25px auto; }
      .footerSplash footer .title .get_text {
        font-family: "Have Heart One", cursive;
        color: #000;
        font-size: 92px;
        text-align: left;
        float: left;
        clear: both;
        z-index: 999;
        position: relative; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title .get_text {
            font-size: 78px;
            padding-left: 10px; } }
      .footerSplash footer .title h3 {
        text-align: left;
        float: left;
        margin: -50px 0 0 0px;
        text-transform: uppercase;
        font-size: 50px;
        clear: both; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title h3 {
            font-size: 36px;
            margin: -33px 0 0 0px; } }
      .footerSplash footer .title .button {
        background: #B90035;
        color: #fff;
        padding: 12px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        float: left;
        clear: both;
        margin-top: 10px;
        margin-left: 26%; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title .button {
            margin-left: 19%; } }

.copyright {
  background: #303133;
  padding: 25px 0;
  font-family: "Nexa-Bold";
  font-size: 20px; }
  .copyright a {
    color: #fff;
    font-family: "Nexa-Bold";
    font-size: 20px;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .copyright a {
        font-size: 16px;
        margin: 0 5px; } }

@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }

.locations_holder .content .additional_locations ul li:first-child h4 {
  padding: 0px 40px 0 0; }
  @media screen and (max-width: 1000px) {
    .locations_holder .content .additional_locations ul li:first-child h4 {
      padding: 0px 8px 0 0; } }
  @media screen and (max-width: 767px) {
    .locations_holder .content .additional_locations ul li:first-child h4 {
      padding: 0px 0px; } }

.success_holder h1,
.success_holder h2,
.success_holder h3 {
  font-size: 104px;
  margin: 0;
  padding: 0;
  line-height: 100px; }
  @media screen and (max-width: 1000px) {
    .success_holder h1,
    .success_holder h2,
    .success_holder h3 {
      font-size: 70px;
      line-height: 70px; } }
  @media screen and (max-width: 767px) {
    .success_holder h1,
    .success_holder h2,
    .success_holder h3 {
      font-size: 66px;
      line-height: 66px; } }

@media screen and (max-width: 1000px) {
  .goToFormMobile {
    background: #B90035;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000; } }
@media screen and (max-width: 1000px) {
  .goToFormMobile h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; } }

.goToFormMobile p {
  color: #fff;
  line-height: 16px;
  padding: 5px 0 10px;
  margin: 0px; }

body.Thank #SlideInfo h1 i {
  display: none; }

.head header #phone a.phone_icon {
  width: 340px;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .head header #phone a.phone_icon {
      width: 45px; } }

/* Human Services programs title reduce only this lander */
@media screen and (max-width: 767px) {
  .Human main .programs_row .hold h3 {
    line-height: 34px;
    font-size: 25px; } }

main p, main h5, main ol {
  margin-left: 0px; }

.all_programs > p {
  display: none; }

.copyright a,
.copyright p {
  color: #fff;
  font-family: Nexa-Bold;
  margin: 0; }

main .hold h3 {
  width: 100%;
  box-sizing: border-box; }

select {
  background: #fff url(../slices/down.png) no-repeat 99% center;
  /*background-size: 9px;*/
  -moz-appearance: none;
  -webkit-appearance: none; }

/* IE 10 & 11 Hack  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select {
    background: #fff;
    background-image: none; } }
/* IE 9 Hack only */
@media all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  select {
    background: #fff;
    background-image: none; } }
/* Altering Tablet/Ipad for Avail Degree paragraph space issue  */
/*
body.Health.Sciences main .avail_holder h2.availdegree{
	@include media($Tablet){
  		margin-top: -235px;
  	}
  	@include media($Mob){
  		margin-top: 0px;
  	}
}
body.Health.Sciences main .avail_holder p{
	@include media($Tablet){
	  	padding-right: 400px;
	}
	@include media($Mob){
	  	padding-right: 0;
	}
}*/
/* New (Redesign) Styles END */
/* Form address/city/state field customzation */
.keypath .full {
  width: 100%;
  clear: both;
  z-index: 9999;
  position: relative; }

.keypath .full .left {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 6px; }

.keypath .full .right {
  width: 50%;
  float: right;
  box-sizing: border-box;
  padding-left: 6px; }

/* two step form A/B testing */
.two-step-form-customization {
  display: none;
  visibility: hidden; }

.display-in-normal-form {
  display: block;
  visibility: visible; }

body.twostep .two-step-form-customization {
  display: block;
  visibility: visible; }
body.twostep .display-in-normal-form {
  display: none;
  visibility: hidden; }
body.twostep .step.current .nextstep.button {
  background: #ee002f;
  color: #fff;
  font-family: "Nexa-Bold",sans-serif;
  cursor: pointer;
  height: 55px;
  border-radius: 27px;
  width: 65%;
  font-size: 19px;
  -webkit-appearance: none;
  border-color: transparent; }
body.twostep .step.step2 input[type="submit"] {
  background: #ee002f;
  color: #fff;
  font-family: "Nexa-Bold",sans-serif;
  cursor: pointer;
  height: 55px;
  border-radius: 27px;
  width: 65%;
  font-size: 19px;
  -webkit-appearance: none;
  border-color: transparent; }
body.twostep span.stepinfo {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10px;
  font-family: Georgia, Times New Roman serif;
  font-size: 11px; }
body.twostep span.stepinfo.goback {
  cursor: pointer; }
body.twostep span.stepinfo.goback:before {
  content: "\00AB";
  margin-left: -10px;
  position: absolute;
  text-align: center;
  bottom: 24px;
  cursor: pointer;
  font-size: 14px; }
body.twostep .step .jvFloat {
  display: inline-block; }
body.twostep .step.step2 > div.jvFloat:nth-child(1),
body.twostep .step.step2 > div.jvFloat:nth-child(2) {
  width: 49%; }
body.twostep .step.step2 .jvFloat:nth-child(2) {
  float: right; }

/* IE10+ specific styles go here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body.twostep span.stepinfo.goback:before {
    position: inherit; } }

/*# sourceMappingURL=responsive.css.map */
