@import "bourbon/bourbon";
@import "neat/neat";

$OldMob: new-breakpoint(max-width 359px, 4);
$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);


@font-face {
  font-family: "NeueHaasGroteskDisp-Bold";
  src: url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.eot');
  src: url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.woff2') format('woff2'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.woff') format('woff'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: "NeueHaasGroteskTextMedium";
  src: url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.eot');
  src: url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.woff2') format('woff2'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.woff') format('woff'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 


/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/fonts/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/fonts/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/fonts/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/fonts/Merriweather/Merriweather1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/fonts/Merriweather/Merriweather2.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/fonts/Merriweather/Merriweather3.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/fonts/Merriweather/Merriweather4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/fonts/Merriweather/Merriweather5.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather6.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather7.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather8.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather9.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather10.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather11.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather12.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather13.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather14.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/fonts/Merriweather/Merriweather15.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/fonts/Merriweather/Merriweather16.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/fonts/Merriweather/Merriweather17.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/fonts/Merriweather/Merriweather18.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/fonts/Merriweather/Merriweather19.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/fonts/Merriweather/Merriweather20.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/fonts/Merriweather/Merriweather21.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/fonts/Merriweather/Merriweather22.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/fonts/Merriweather/Merriweather23.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/fonts/Merriweather/Merriweather24.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/fonts/Merriweather/Merriweather25.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/fonts/Merriweather/Merriweather26.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/fonts/Merriweather/Merriweather27.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/fonts/Merriweather/Merriweather28.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/fonts/Merriweather/Merriweather29.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/fonts/Merriweather/Merriweather30.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/fonts/Merriweather/Montserrat1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/fonts/Merriweather/Montserra2.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/fonts/Merriweather/Montserrat3.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/fonts/Merriweather/Montserrat4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/fonts/Merriweather/Montserrat5.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/fonts/Merriweather/Montserrat6.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/fonts/Merriweather/Montserrat7.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/fonts/Merriweather/Montserrat8.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/fonts/Merriweather/Montserrat91.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/fonts/Merriweather/Montserrat10.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* New (Redesign) Styles Starts */
i { font-style: normal;}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i 
{
	font-family: 'Concert One', sans-serif;
}

p{
	font-size: 15px;
    line-height: 25px;
}
h1 {
  font-family: 'NeueBold', sans-serif;
  font-size: 100px;
  font-weight: bold;}
h2 {
  font-family: 'NeueBold', sans-serif;
  font-size: 44px;
  font-weight: bold; }
h3 {
  font-family: 'NeueBold', sans-serif;
  font-size: 50px;
  color: #B90035; }
h4 {
  font-family: 'NeueMedium', sans-serif;
  font-weight: normal; }
h5 {
  font-family: "NeueMedium", sans-serif;
  font-weight: bold; }
h6 {
  font-family: "NeueMedium", sans-serif;
  font-size: 24px; }
p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; 
}
a:hover {
  text-decoration: none; 
}
.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include media($Desktop){
	    padding: 0px 10px;
	}
	@include media($StandardDesktop){
	    padding: 0px;
	}
}
.content::after {
    clear: both;
    content: "";
    display: block;
}

.head{
	background-position: top center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 535px;
    @include media($Tablet){
	    height: 535px;
	}
	@include media($Mob){
	    height: auto;
	    min-height: 400px;
	}
    header{
    	max-width: 1200px;
	    margin-left: auto;
	    margin-right: auto;
	   	@include media($Mob){
		    height: auto;
		    position: relative;
		}
    	#logo{
	    	float: left;
		    display: block;
		    margin-right: 0%;
		    width: 40%;
		    img {
		    	margin: 10px 0 0 15px;
	    		/*width: 300px;*/
	    		width:160px;
	    		@include media($Tablet){
				    /*width: 210px;*/
				    width:160px;
				}
	    		@include media($Mob){
				    /*width: 170px;*/
				    margin: 20px 0 0 15px;
				    width:160px;
				}
		    }
	    }
	    #phone{
	    	float: right;
		    display: block;
		    margin-top: 24px;
		    width: 40%;
		    font-family: 'Nexa-regular', sans-serif;

		    @include media($Mob){
				margin-top: 16px;
			}
		    /*p{
		    	color: #fff;
			    width: 250px;
			    float: right;
			    text-align: right;	
			    font-family: 'Nexa-regular', sans-serif;
			    @include media($Mob){
				    display: none;
				}
			    span{
			    	color: #fff;
			    }
			    a{
			    	color: #fff;
			    	text-decoration: none;
			    }
		    }*/
		    a.phone_icon{
		    	background: url('../slices/phone_icon.png') no-repeat top left;
		    	width: 320px;
		    	float: right;
		    	padding-left: 42px;
		    	font-size: 25px;
		    	color: #fff;
		    	min-height: 57px;
    			display: inline-block;
    			text-decoration: none;
    			padding-top: 14px;
    			font-weight: normal;
    			/*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
		    	@include media($Mob){
				    width: 45px;
				    margin-top: 8px;
				}
				span{
					@include media($Mob){
				    display: none;
					}
				}
		    }
	    }
	    #SlideInfo {
	    	float: left;
		    display: block;
		    width: 100%;
		    text-align: left;
		    margin: auto;
		    height: auto !important;
		    clear: both;
		    max-width: 646px;

		    @include media($Desktop){
		    	padding-left: 20px;
		    }
		    @include media($Tablet){
		    	padding-left: 20px;
		    	max-width: 700px;
		    }
			@include media($Mob){
		        float: none;
			    display: inline-block;
			    width: 100%;
			    text-align: left;
			    margin: auto;
			    height: auto !important;
			    padding-top: 55px;
			    padding-left: 0px;
			    /*position: absolute;
			    bottom: 105px;
			    left: 0px;*/
			 }
		    .VertAlign {
		    	top: auto !important;
			    left: auto !important;
			    transform: none !important;
			    position: relative;
			    padding-top: 100px;
			    padding-left: 10px;
			    padding-right: 10px;
			    @include media($Tablet){

				}
				@include media($Mob){
				    padding-top: 45px;
				}			    
		    }
		    h1{
		    	font-family: "NeueHaasGroteskDisp-Bold";
			    color: #fff;
			    padding: 75px 0px 0px 0px;
    			margin: 0px 0px -20px;
    			display: inline-block;

    			@include media($Desktop){
					font-size: 60px;
    				line-height: 62px;
				}
				@include media($StandardDesktop){
					font-size: 60px;
    				line-height: 62px;
				}
    			@include media($Tablet){
					font-size: 60px;
    				line-height: 62px;
				}
				@include media($Mob){
    				margin: 0px;
    				font-size: 33px;
    				line-height: 37px;
    				padding: 0px 10px 0px;
    				display: inline-block;
    				width: 100%;
    				box-sizing: border-box;
				}
				i{
					color: #fee800;

					width: 51px;
		    		height: 82px;
		    		background: url(../slices/main_header_arrow.png) no-repeat 0px 6px;
		    		/*display: inline-block;*/
		    		display: none;

		    		@include media($Tablet){
    				    background: url(../slices/main_header_arrow.png) no-repeat 0px 17px;
					    background-size: 85%;
					}
					@include media($Mob){
						height: 51px;
    				    background: url(../slices/main_header_arrow.png) no-repeat 0px 10px;
					    background-size: 55%;
					}
				}
			}
			p{
			   	color: #fff;
    			font-size: 16px;
    			display: inline-block;
    			@include media($StandardDesktop){
    				padding-top: 10px;
    			}
    			@include media($Tablet){
					font-size: 16px;
    				padding-top: 20px;
			    }
			    @include media($Mob){
			    	font-size: 16px;
    				padding-top: 4px;
    				padding-left: 10px;
    				padding-right: 10px;
    				padding-bottom: 20px;
			    }
			}
	    }
    }
}
.content_upper{
	width: 100%;
	margin-bottom: 30px;
		/*position: relative;*/
		.form_holder{
			float: right;
			width: 380px;
		    display: block;
		    margin-top:0px;		    
		    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    background: #fff;
		    position: relative;
		    z-index: 999;
		    @include media($Tablet){
				width: 100%;
		    }
		    @include media($Mob){
		    	width: 100%;
		    	border-bottom: 2px solid #656262;
		    	box-shadow: none;
		    }
		    #Intro{
		    	background: #ee002f;
    			padding:10px 15px;
    			min-height: 65px;
    			box-sizing:border-box;
    			cursor: pointer;
    			h3{
    				color: #fff;
				    font-size: 29px;
				    font-weight: bold;
				    margin: 0;
				    line-height: 42px;
				    @include media($Tablet){
				    	
				    }
				    @include media($Mob){
				    	font-size: 32px;
				    }
    			}
    			p{
				    color: #fff;
				    margin: 0;
				    @include media($Tablet){

				    }
				    @include media($Mob){
				    	/*padding:10px 15px;*/
				    }
				    @include media($Desktop){
				    	padding-left:70px;
				    	padding-right: 70px; 
				    }
				    @include media($StandardDesktop){
				    	padding-left:100px;
				    	padding-right: 100px; 
				    }
				}
		    } 
		    form{
		    	padding: 0 15px 15px;
		    	input{
		    		padding: 8px;
				    width: 100%;
				    border: 1px solid #ddd;
				    font-family: Georgia, Times New Roman serif;
				    font-size: 14px;
				    color: #505258;
				    &[type="submit"]{
				    	background: #ee002f;
					    color: #fff;
					    font-family: "Nexa-Bold", sans-serif;
					    cursor: pointer;
					    height: 55px;
					    border-radius: 27px;
					    width: 65%;
					    font-size: 19px;
					    -webkit-appearance: none;
					    @include media($Mob){ 
					    	height: 40px;
    						border-radius: 27px;
    						width: 75%;
					    }
				    }
				    @include media($Mob){ 
					    font-size: 16px;
					}
		    	}
		    	select{
		    		padding: 8px;
				    width: 100%;
				    border: 1px solid #ddd;
				    font-family: Georgia, Times New Roman serif;
				    font-size: 14px;
				    color: #505258;
				    @include media($Mob){ 
					    font-size: 16px;
					}
		    	}
		    }  	
    	}
    	.success_holder{
    		width:595px;
    		float:left;
    		padding-top: 42px;
    		@include media($Tablet){
    			/*width: 385px;*/
    			width: 100%;
				padding: 10px;
    		}
    		@include media($Mob){
    			width: 100%;
    			padding: 10px;
    		}
    		@include media($StandardDesktop){
    			width:795px;
		    }
		    img.headline{
		    	width: 80%;
    			@include media($Tablet){
	    			max-width: 380px;
	    		}
		    }
		    h2{
		    	font-size: 44px;	
		    	color: #231f20;
		    	letter-spacing: -0.25px;
		    	line-height: 54px;
		    	@include media($Tablet){

	    		}
	    		@include media($Mob){
	    			font-size: 43px;	
			    	line-height: 50px;
	    		}
		    	i{
		    		color: #ee002f;

		    		width:20px;
					height: 27px;
					display: inline-block;
					background: url('../slices/loc_side_arrow.png') no-repeat top center;
					@include media($Mob){
						height: 27px;
   						background-size: 28px;
					}
		    	}
		    }
		    p{
		    	padding-right: 100px;
		    	/*font-size: 24px;*/
		    	font-size: 19px;
		    	color: #505258;
		    	line-height: 32px;
		    	word-wrap: break-word;
		    	@include media($Tablet){
					padding-right: 10px;
	    		}
	    		@include media($Mob){
	    			padding: 0;
	    			font-size: 16px;
			    	line-height: 28px;
	    		}
		    }
		    ul{
		    	li{
		    		font-size: 22px;
		    		font-family: Georgia, Times New Roman serif;
		    		line-height: 34px;
		    		color: #6d6e71;
		    	}

		    }
		    .video_holder{
		    	iframe{
		    		width: 100%;
		    		max-width: 770px;
		    		height: 425px;
		    		margin: 15px 0;
		    		@include media($Mob){
		    			height: 225px;
		    		}
		    	}
		    }
		    .gen_icons{
		    	width: 100%;
		    	> p{
		    		display: none;
		    	}
		    	blockquote{
		    		width: 33.3%;
		    		float: left;
		    		text-align: center;
		    		margin: 0;
		    		min-height: 200px;
		    		@include media($Tablet){
		    			width: 50%;
		    		}
		    		@include media($Mob){
		    			width: 100%;
		    		}
		    		a{
		    			color: #505258;
		    			text-decoration: none;
		    		}
		    		p{
			    		font-size: 21px;
				    	color: #505258;
				    	line-height: 30px;
				    	width: 100%;
				    	float: left;
				    	padding: 0px 0px;
				    	margin: 0;
				    	box-sizing:border-box;
			    		img{
							width: auto;
							margin-top: 0px;
    						margin-bottom: 5px;
			    		}
			    	}
		    	}
		    }
    	}
	
}
#middle{
	background: #6d6e71;
}
main{
	width: 595px;
	float:left;
    padding-top: 20px;
    padding-bottom: 15px;
    @include media($Tablet){
    	width: 100%;
		padding: 10px;
    }
    @include media($Mob){
    	width: 100%;
    	padding: 10px;
    }
    @include media($StandardDesktop){
    	width:795px;
	}
	.avail_holder{
		width: 100%;
		float: left;
		padding-bottom: 0px;
		@include media($Mob){
			padding-bottom: 0;
    	}		
		h2.availdegree{
			margin: 38px 0 10px 0;
    		font-size: 46px;
    		line-height: 58px;
    		color: #fff;
    		@include media($Tablet){
    			font-size: 40px;
    			line-height: 58px;
    		}
    		@include media($Mob){
    			font-size: 24px;
    			line-height: 36px;
    		}
		}
		p{
			margin: 0 0 28px 0;
			color: #fff;
			font-size: 22px;
			line-height: 33px;
			@include media($Tablet){

    		}
    		@include media($Mob){
    			font-size: 14px;
    			line-height: 25px;
    		}
		}
	}
	.all_programs{
		width: 100%;
		float: left;
		h1{
			line-height: 35px;
			/*font-size: 26px;
			font-size: 24px;*/
			font-size: 22px;
			color: #fff;
			text-transform: uppercase;
			margin: 0px 0px 13px;
			width: 100%;
			display: inline-block;
			cursor: pointer;
			@include media($Tablet){
					
			}
			@include media($Mob){
				font-size: 16px;
				line-height: 24px;
				letter-spacing: -0.4px;

				padding-left: 20px;
				box-sizing: border-box;
				background: url('../slices/side_arrow.png') no-repeat 0 3px;
				background-size: 16px;
			}
			&.open{
				@include media($Mob){
					background: url('../slices/down_arrow.png') no-repeat 0 3px;
					background-size: 16px;
				}
			}
			i{
				color: #ee002f;
				/*font-family: Georgia, Times New Roman serif;*/
				background: url('../slices/side_arrow.png') no-repeat top center;
				width:18px;
				height: 20px;
				display: inline-block;
				@include media($Mob){
					background-size: 16px;
					height: 14px;
					display: none;
				}

				&.open_arrow{
					background: url('../slices/down_arrow.png') no-repeat top center;
					
					@include media($Mob){
						background-size: 16px;
						height: 14px;
					}
				}
			}
		}
		blockquote{
			display: none;
			font-family: Georgia, Times New Roman serif;
			font-size: 20px;
			color: #fff;
			line-height: 30px;
			margin: 0 0 26px;
			padding: 0px;
			@include media($Mob){
		    	font-size: 14px;
		    	line-height: 25px;
		    }
		    p{
		    	font-size: 18px;
				color: #fff;
				line-height: 29px;
				margin: 0px;
				padding:0px 0 22px;
				@include media($Mob){
			    	font-size: 14px;
			    	line-height: 25px;
			    	padding-left: 19px;
			    }
		    }
		    ul{
		    	margin: 0;
		    	padding: 0;
		    	li{
		    		font-family: Georgia, Times New Roman serif;
		    		font-size: 18px;
					color: #fff;
					line-height: 29px;
					list-style: none;
					@include media($Mob){
				    	font-size: 14px;
    					line-height: 25px;
    					padding-left: 19px;
				    }
		    	}
		    }
		}		
	}
	.programs_row{
		width: 100%;
		float: left;
		.hold{
			width: 100%;
			float: left;
			padding-bottom: 20px;
			@include media($Mob){
				width: 100%;
				padding-bottom: 14px;
			}
			&:nth-child(1){
				/*padding-right: 50px;*/
				@include media($Tablet){
					/*padding-right: 10px;*/
				}
				@include media($Mob){
					padding-right: 0px;
				}
			}
			&:nth-child(2){
				/*padding-left: 50px;*/
				@include media($Tablet){
					/*padding-left: 10px;*/
				}
				@include media($Mob){
					padding-left: 0px;
				}
			}
			h3{
				line-height: 38px;
				font-size: 26px;
				color: #fff;
			    text-transform: uppercase;
			    margin: 0px 0px 10px;
			    display: inline-block;
			    cursor: pointer;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 16px;
					line-height: 24px;
					letter-spacing: -0.4px;
				}
				&.open{
					@include media($Mob){
						background: url('../slices/icon_minus.png') no-repeat top left;
						background-size: 30px;
					}
				}
				i{
					color: #ee002f;
					/*font-family: Georgia, Times New Roman serif;*/
					background: url('../slices/side_arrow.png') no-repeat top center;
					width:18px;
					height: 20px;
					display: inline-block;
					@include media($Mob){
						background-size: 16px;
						height: 14px;
					}

					&.open_arrow{
						background: url('../slices/down_arrow.png') no-repeat top center;
						
						@include media($Mob){
						background-size: 16px;
						height: 14px;
						}
					}
				}
			}
			section{
				display: none;
				p{
					font-size: 20px;
					color: #fff;
					line-height: 30px;
					@include media($Mob){
		    			font-size: 14px;
		    			line-height: 25px;
		    		}
				}
				@include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 14px;
					display: none;
				}

			}

		}

	}	
}
.additional_programs_holder{
	background-position: top center;
    background-size: cover;
    position: relative;
    padding-top:35px;
    min-height: 600px;
    @include media($Tablet){
					
	}
	@include media($Mob){
		background-image: none !important;
		background-color: #000;
	}
    .content{
    	text-align: center;
    	.title{
    		width: auto;
		    display: inline-block;
		    margin: 0 auto;
		    .additional_text{
		    	font-family: "Have Heart One", cursive;
			    color: #fff;
			    font-size: 82px;
			    text-align: left;
			    float: left;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					float: none;
					text-align: center;
				}
		    }
		    h3{
		    	text-align: left;
			    float: left;
			    margin: -38px 0 0 46px;
			    text-transform: uppercase;
    			font-size: 47px;
			    clear: both;
			    @include media($Tablet){
					font-size: 40px;
				}
				@include media($Mob){
					float: none;
					text-align: center;
					margin: -15px 0 0 0;
					font-size: 36px;
					line-height: 41px;
				}
		    }
    	}
    	.addi_programs{
    		width: 100%;
    		float: left;
    		margin: 20px 0;
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 33.3%;
    				float: left;
    				padding:0px 20px;
    				text-align: center;
    				font-family: "Nexa-Bold", sans-serif;
    				font-size: 19px;
    				color: #fff;
    				line-height: 35px;
    				list-style: none;
    				@include media($Tablet){
						width: 50%;
					}
					@include media($Mob){
						width: 100%;
						padding:0px 12px;
					}
    			}
    		}
    	}
    	.fillout_text{
    		width: 100%;
    		text-align: center;
    		font-family: "Nexa-Bold", sans-serif;
    		font-size: 22px;
    		color: #fff;
    		float: left;
    		padding: 36px 20px 30px;
    	}
    }

}

.locations_holder{
	background:#edeeef;
    position: relative;
    padding-top:55px;
    min-height: 600px;
    width: 100%;
    display: inline-block;
    @include media($Tablet){
		padding-left: 10px;
		padding-right: 10px;			
	}
	@include media($Mob){
		background-color: #edeeef;
		padding-top: 30px;
		padding-bottom: 15px;
		min-height: auto;
	}
    .content{
    	text-align: left;
    	.title{
    		width: 100%;
		    display: inline-block;
		    margin: 0 auto;
		    h3{
		    	text-align: left;
			    float: left;
			    margin: 0px 0 0 0px;
    			font-size: 45px;
    			color: #231f20;
    			width: 100%;
    			font-weight: bold;
			    letter-spacing: -0.60px;
			    @include media($Tablet){
					font-size: 34px;
				}
				@include media($Mob){
					float: none;
					text-align: left;
					margin: -14px 0 0 0;
					font-size: 28px;
					line-height: 36px;
				}
				i{
					color: #ee002f;
					width:20px;
					height: 27px;
					display: inline-block;
					background: url('../slices/loc_side_arrow.png') no-repeat top center;
					@include media($Mob){
						height: 18px;
    					background-size: 20px;
					}
					&.loc_open_arrow{
						@include media($Mob){
							background: url('../slices/loc_down_arrow.png') no-repeat top center; background-size: 22px;

						}
					}	
				}
				
		    }
    	}
    	.locations_list{
    		width: 100%;
    		float: left;
    		margin: 20px 0;
    		padding-bottom: 12px;
    		border-bottom: 3px solid #ee002f;
    		@include media($Mob){
				display: none;
			}
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 33%;
    				float: left;
    				list-style: none;
    				padding:0px 12px 0 0;
    				min-height: 145px;
    				background: url('../slices/baker_location_logo.png') no-repeat top left;
    				box-sizing:border-box;
				    padding-left: 85px;
				    padding-top: 38px;
    				@include media($Tablet){
						min-height: 140px;
						width: 50%;
					}
					@include media($Mob){
						width: 100%;
						min-height: 100px;
					}
    				h4{
    					text-align: left;
	    				font-family: 'NeueRegular', sans-serif;
	    				font-size: 22px;
	    				color: #f5283c;
	    				line-height: 35px;
	    				margin: 0px 0px;
	    				font-weight: normal;
	    				@include media($Mob){
							font-size: 23px;
							
						}
    				}
    				div{
    					width: 100%;
    					display: block;
    					font-family: 'NeueRegular', sans-serif;
    					color: #303132;
    					font-size: 17px;
    					line-height: 24px;
    					@include media($Mob){
							font-size: 17px;
							line-height: 22px;
							
						}
    				}
    				
    				@include media($Tablet){
					
					}
					@include media($Mob){
						
					}
    			}
    		}
    	}
    	.additional_locations{
    		width: 100%;
    		text-align: left;
    		font-family: "Nexa-Bold", sans-serif;
    		font-size: 22px;
    		color: #fff;
    		float: left;
    		padding: 0px 20px 30px 0;
    		@include media($Mob){
				display: none;
			}
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 50%;
    				float: left;
    				list-style: none;
    				padding:15px 12px 15px 0;
    				background: url('../slices/baker_location_logo.png') no-repeat top left;
    				box-sizing:border-box;
				    padding-left: 85px;
				    padding-top: 38px;
    				@include media($Tablet){
						
					}
					@include media($Mob){
						width: 100%;
						padding:15px 0px 15px 0;
						/*text-align: center;*/
						padding-left: 85px;
				    	padding-top: 40px;
				    	text-align: left;
					}
    				h4{
    					text-align: left;
	    				font-family: 'NeueRegular', sans-serif;
	    				margin: 0px;
	    				font-size: 22px;
	    				color: #f5283c;
	    				line-height: 35px;
	    				margin: 0px 0px;
	    				font-weight: normal;
	    				@include media($Tablet){
							font-size: 20px;
							line-height: 28px;
						}
						@include media($Mob){
							font-size: 23px;
							
						}
    				}
    				div{
    					width: 100%;
    					display: block;
    					font-family: 'NeueRegular', sans-serif;
    					color: #303132;
    					font-size: 17px;
    					line-height: 24px;
    				}    				
    				@include media($Tablet){
					
					}
					@include media($Mob){
						font-size: 17px;
						line-height: 22px;
					}
    			}
    		}
    	}
    }

}
.testimonial_holder{
	width: 100%;
	float: left;
	.content{
		text-align: left;
		padding: 50px 0;
		.quote{
			/*font-size: 43px;*/
			font-size: 38px;
			color: #231f20;
			letter-spacing: -0.90px;
			text-align: center;
			margin: 0;
			@include media($Tablet){
					
			}
			@include media($Mob){
				font-size: 23px;
				line-height: 30px;
				padding: 0px 10px;
			}
			i{
				font-family: 'NeueBold', sans-serif;
				color: #f5283c;
				font-size: 50px;
				font-weight: bold;
				padding: 0 6px;
				@include media($Mob){
					font-size: 36px;
				}
			}
		}
		.owner_row{
			width:100%;
			.owner_info{
				width:auto;
				float: right;
				text-align: left;
				font-family: Georgia, Times New Roman serif; 
				font-size: 23px;
				color: #7b7b7b;
				line-height: 29px;
				font-style: italic;
				padding-bottom: 12px;
				padding-top: 10px;
				padding-right: 10px;

				@include media($Mob){
					font-size: 14px;
					line-height: 23px;
					padding: 10px 7px;

				}
			}
		}
	}
}
.footerSplash{
	background-position: center center;
    background-size: cover;
    position: relative;
    padding-top:25px;
    min-height: 700px;
	@include media($Mob){
  		min-height: 600px;
  		padding-top:5px;
  	}
  	footer{
  		max-width: 1200px;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    .title{
    		width: auto;
		    display: inline-block;
		    margin: 25px auto;
		    .get_text{
		    	font-family: "Have Heart One", cursive;
			    color: #000;
			    font-size: 92px;
			    text-align: left;
			    float: left;
			    clear: both;
			    z-index: 999;
    			position: relative;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 78px;
					padding-left: 10px;
				}
		    }
		    h3{
		    	text-align: left;
			    float: left;
			    margin: -50px 0 0 0px;
			    text-transform: uppercase;
    			font-size: 50px;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 36px;
					margin: -33px 0 0 0px;
				}
		    }
		    .button{
		    	background: #B90035;
				color: #fff;
				padding: 12px 40px;
				font-family: "Nexa-Black", sans-serif;
				font-size: 17px;
				text-align: center;
				text-decoration: none;
				float: left;
			    clear: both;
			    margin-top: 10px;
			    margin-left: 26%;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					margin-left: 19%;
				}
		    }
    	}
  	}
}
.copyright{
	background: #303133;
	padding: 25px 0;
	font-family: "Nexa-Bold";
	font-size: 20px;
	a{
    	color: #fff;
    	font-family: "Nexa-Bold";
		font-size: 20px;
		text-decoration: none;
		@include media($Mob){
  			font-size: 16px;
		    margin: 0 5px;
  		}
	}
}

.goToFormMobile {
	@include media($Tablet){
  		display: none; 
  	}
  	@include media($Mob){
  		display: none; 
  	}
}
.locations_holder .content .additional_locations ul li:first-child h4{
    padding: 0px 40px 0 0;
	@include media($Tablet){
		padding: 0px 8px 0 0;					
	}
	@include media($Mob){
		padding: 0px 0px;
	}
}
.success_holder h1,
.success_holder h2,
.success_holder h3
{
	font-size: 104px;
	margin:0;
	padding: 0;
	line-height: 100px;
	@include media($Tablet){
		font-size: 70px;
		line-height: 70px;				
	}
	@include media($Mob){
		font-size: 66px;
    	line-height: 66px;
	}
}
.content_upper .content .form_holder form.keypath{
	@include media($Desktop){
					
	}
}
.form_holder form.keypath{
	@include media($Desktop){
					
	}
}
.goToFormMobile {
	@include media($Tablet){
		background: #B90035;
	    padding: 10px;
	    position: fixed;
	    bottom: 0px;
	    width: 100%;
	    z-index: 1000;			
	} 
	h4{
		@include media($Tablet){
			color: #fff;
		    font-size: 36px;
		    font-weight: bold;
		    margin: 0;
		}

	}   
}
.goToFormMobile p{
	color: #fff;
    line-height: 16px;
    padding: 5px 0 10px;
    margin: 0px;
}
body.Thank #SlideInfo  h1 i
{
	display: none;
}
.head header #phone a.phone_icon{
	font-family: "NeueHaasGroteskTextMedium";
	width: 340px;
	letter-spacing: 1px;
	@include media($Mob){
		width: 45px;
	}
}
body.HS .head header #phone a.phone_icon,
body.High.School .head header #phone a.phone_icon
{
	width: 366px;
	letter-spacing: 1px;
	@include media($Mob){
		width: 45px;
	}
}

main .all_programs blockquote strong,
main .all_programs blockquote b
{
	font-family: Georgia, Times New Roman serif;
	font-weight: bold;
}
/* Human Services programs title reduce only this lander */
.Human main .programs_row .hold h3{
	@include media($Mob){
		line-height: 34px;
    	font-size: 25px;
	}
}
main p, main h5, main ol {
    margin-left: 0px;
}
.all_programs > p {
	display: none;
}
a img{
	border:none;
}
.jvFloat .placeHolder
{
	font-family:Georgia, Times New Roman serif;
	font-size: 14px;
	color: #505258;
}
.jvFloat .placeHolder.active
{
	font-size: 9px;
}
/* IE 10 & 11 Hack  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    select
    {
    background: #fff;
    background-image: none;
    }
}
/* IE 9 Hack only */
@media all and (min-width:0\0) and (min-resolution:.001dpcm)
{
	select
    {
    background: #fff;
    background-image: none;
    }
}

/* Altering Few pages styles  */

body.Education main .all_programs h1{
	@include media($Desktop){
		font-size: 24px;
	}
}
body.Center.Grad main .all_programs h1{
	@include media($Desktop){
		font-size: 25px;
	}
}

/* New (Redesign) Styles END */

.keypath .full
{
	width: 100%;
	clear: both;
    z-index: 9999;
    position: relative;
}
.keypath .full .left
{
	width:50%;
	float: left;
	box-sizing:border-box;
	padding-right: 6px;
}
.keypath .full .right
{
	width:50%;
	float: right;
	box-sizing:border-box;
	padding-left: 6px;
	/*padding-left:5px;*/
}

.jvFloat 
{
	display: inline-block !important;
}
body > img 
{
	display: none;
}
p
{
	word-wrap: break-word;
}
@media screen and (max-width: 767px){
	body.Center.for.Grad .head
	{
		background-position: -460px;
    background-size: 1130px 490px;
	}

  .content_upper .form_holder form input[type="submit"]{
    height: 55px;
  }


}
@media screen and (min-width: 700px) and (max-width: 767px) and (orientation:landscape){
  body.Center.for.Grad .head
  {
    background-position: -300px;
  }
}

body.Thank .head header #SlideInfo
{
	float: none;
	text-align: center;
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */ 
}

.sticky{
	display: none;
	position: fixed;
}
body.mobsticky{
	.sticky{
		display:none;
		a{
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			background: #ee002f;
			font-size: 29px;
			color: #FFF;
			text-align: center;
			padding: 16px 0 18px;
			z-index: 9999;
			font-weight:bold;
		} 
	}
}

/* two step form A/B testing */
.step.step2{
  display: none;
}

.two-step-form-customization{
  display: inline-block;
  visibility: visible;
  width: 100%;
}
.display-in-normal-form{
  display: none;
  visibility: hidden;
}

.step.current .nextstep.button{
  background: #ee002f;
  color: #fff;
  font-family: "Nexa-Bold",sans-serif;
  cursor: pointer;
  height: 55px;
  border-radius: 27px;
  width: 65%;
  font-size: 19px;
  -webkit-appearance: none;
  border-color: transparent;
}

span.stepinfo.goback{
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

span.stepinfo{
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10px;      
  font-family: Georgia, Times New Roman serif;
  font-size: 11px;
}

span.stepinfo.goback:before {
    content: "\00AB";
    margin-left: -10px;
    position: absolute;
    text-align: center;
    bottom: 14px;
    cursor: pointer;
    font-size: 14px;
}

body.Center.for.Grad.Studies .full.city_state_wrapper .jvFloat{
  margin-bottom: 15px;
}

/* Navigation AB test Start */
.custom_nav,
.mob_menu
{
  display: none;
}
.nav_ab .custom_nav
{
  display: block;
}
.nav_ab .head header #logo
{
  width: 15%;
    min-width: 200px;
}
.nav_ab .head header #phone
{
  width: 28%;
}

.nav_ab .nav 
{
  width: 50%;
  float: left;
  max-width: 500px;
  margin-top: 25px;
}
.nav_ab .nav #top-menu
{
  width: 100%;
  float: left;
  position: relative;
  padding: 0;
    margin: 0;
}
.nav_ab .nav #top-menu li 
{
  list-style: none;
  font-family: "NeueHaasGroteskDisp-Bold";
  font-size: 14px;
}
.nav_ab .nav #top-menu li a
{
  text-decoration: none;
  color: #fff;
}
.nav_ab .nav #top-menu > li
{
  float: left;
  position: relative; 
}
.nav_ab .nav #top-menu > li > a
{
    /*height: 60px;*/
    box-sizing: border-box;
    padding:12px 10px 0;
    display: inline-block;
}
.nav_ab .nav #top-menu > li:not(.menu-item-has-children) > a:hover
{
  color: red;
}
.nav_ab .nav #top-menu > li.menu-item-has-children > a 
{
  background: url(../images/menu_arrow.png) center right no-repeat;
    padding-right: 24px;
    height: 60px;
    box-sizing: border-box;
    padding:8px 35px 8px 28px;
    background: white;
    color: red;

    padding-right: 24px;
    height: 42px;
    box-sizing: border-box;
    padding: 12px 40px 0px 32px;
    background: white;
    color: red;
    display: inline-block;
}
.nav_ab .nav #top-menu > li.menu-item-has-children > a:after
{
  content: '\0076';
  font-size: 20px;
  width: 10px;
    height: 20px;
    position: absolute;
    right: 5px;
    transform: scale(1, 0.6);
    display: inline-block;
    top: -3px;
    font-family: arial;
    transform: scale(1, 0.6);
    right: 18px;
    top: 10px;
    font-weight: bold;
}
.nav_ab .nav #top-menu > li.menu-item-has-children > a.on:after
{
  transform: rotate(180deg) scale(1, 0.6);
  top: 12px;
}
.nav_ab .nav #top-menu > li > .sub-menu
{
  display: none;
    z-index: 99999;
    position: absolute;
    top: 35px;
    right: 0px;
    left: 0;
    padding-top: 6px;
    padding-left:5px;
    background: white;
}
.nav_ab .nav #top-menu > li > .sub-menu li
{
  font-family: 'NeueRegular', sans-serif;
    font-size: 12px;
    padding-bottom: 6px;
}
.nav_ab .nav #top-menu > li > .sub-menu a
{
  color: #000;
  width: 100%;
    display: inline-block;
    line-height: 180%;
}
.nav_ab .nav #top-menu > li:hover > .sub-menu
{
  /*display: block;*/ 
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .nav_ab .head header #logo {
    min-width: 190px;
  }
  .nav_ab .head header #phone
  {
    margin-right: 0;
  }
  .nav_ab .nav
  {
    width: auto;
  }
  .nav_ab .head header #phone a.phone_icon 
  {
    width: auto;  
    background-size: 25px;
    padding-left: 32px;
    padding-top: 7px;
    letter-spacing: 0.5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .nav_ab .mob_menu
  {
    display: block;
    width: 25%;
    height: 80px;
    float: left;
    box-sizing: border-box;
    padding-left: 9px;
    padding-top: 36px;
  }
  .nav_ab .custom_nav
  {
    display: none;
    position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      max-width: 100%;
  }
  .nav_ab .head header #phone
  {
    width: 13%;
    margin-right: 2%;
    margin-top: 5px;
  }
  .nav_ab .head header #logo 
  {
      width: 60%;
      min-width: 150px;
      text-align: center;
  }
  .nav_ab .head header #logo img
  {
    margin: 10px 12px 0 0px;
  }
  .hamb_text
  {
    float: left;
      font-family: "NeueHaasGroteskDisp-Bold";
      font-size: 15px;
      color: #fff;
      padding-left: 7.5px;
  }
  .mob_menu:not(.hamb_on) .hamb_text
  {
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6)
  }
  .nav_ab .nav #top-menu li,
  .nav_ab .nav #top-menu li a
  {
    width: 100%;
    float: left;
    box-sizing: border-box;
  }
  .nav_ab .nav #top-menu > li > a
  {
    padding: 18px 10px !important;
    height: auto !important;
  }
  .nav_ab .nav #top-menu > li
  {
    border-bottom: 1px solid #e7e9ea; 
    background: #fff;
  }
  .nav_ab .nav #top-menu > li.menu-item-has-children > a
  {
    background: #fff;
    color: #000;
  }
  .nav_ab .nav #top-menu > li.menu-item-has-children > a.on 
  {
    color: red;
  }
  .nav_ab .nav #top-menu > li.menu-item-has-children > a:after
  {
    top: 16px;
    color: red;
  }
  .nav_ab .nav #top-menu > li.menu-item-has-children > a.on:after
  {
    top: 18px;
  }
  .nav_ab .nav #top-menu > li > .sub-menu
  {
    padding-top: 12px;
      padding-left: 30px;
      padding-bottom: 12px;
      position: static;
  }
  .nav_ab .nav
  {
    margin-top: 0;
  }
  .nav_ab .nav #top-menu li a
  {
    color: #000;
  }
  .nav_ab .nav #top-menu
  {
    z-index: 9999;
  }
  .hamb_on
  {
    background: #fff; 
  }
  .hamb_on .hamb_text
  {
    color: #000;
  }
  .nav_ab .nav #top-menu > li > .sub-menu a
  {
    font-size: 14px;
    padding: 4px 0 7px;
    box-sizing: border-box;
  }
  .nav_ab .nav #top-menu > li > .sub-menu li
  {
    padding-bottom: 0px;
  }
  
  /* Icon 4 */
  #hamburger {
    width: 25px;
    height: 25px;
    position: relative;
    float: left;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius:1%;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;   
  }
  #hamburger:not(.open) span{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  }

  #hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  #hamburger span:nth-child(2) {
    top: 7px;
    transform-origin: left center;
  }

  #hamburger span:nth-child(3) {
    top: 14px;
    transform-origin: left center;
  }
  #hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -1px;
    left: 0px;
    background: #ef3d5e;
  }
  #hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  #hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 16px;
    left: 0px;
    background: #ef3d5e;
  }

}
/* Navigation AB test End */

/* IE10+ specific styles go here */  
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {    
  span.stepinfo.goback:before{
    position: inherit;
  }
}