//Required Styles
@import '../../bower_components/normalize-css/normalize.css'
@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss'
@import '../grid_settings'
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss'
@import '../../bower_components/slick-carousel/slick/slick.scss'
@import '../../bower_components/slick-carousel/slick/slick-theme.scss'
@import '../../bower_components/select2/dist/css/select2'
@import '../vendor/jquery-ui/jquery-ui'

//Global
@import 'variables'

//BREAKPOINTS
/* Small devices (tablets, 768px and up) */
$screen-iphone6-max: new-breakpoint(max-width 374px $grid-columns)
$screen-iphone6-min: new-breakpoint(min-width 375px $grid-columns)
$screen-sm-min: new-breakpoint(min-width 769px $grid-columns)
$screen-sm-max: new-breakpoint(max-width 768px $grid-columns)

/* Medium devices (desktops, 992px and up) */
$screen-md-min: new-breakpoint(min-width 992px $grid-columns)
$screen-md-max: new-breakpoint(max-width 991px $grid-columns)

/* Large devices (large desktops, 1200px and up) */
$screen-lg-min: new-breakpoint(min-width 1200px $grid-columns)

h1,h2,h3,h4,h5,h6,p,ul,ol
	margin: 0
	padding: 0

a, button, input, select
	padding: 0
	&:focus
		outline: none

img
	max-width: 100%

body
	a
		color: $baker-red
		+media($screen-md-min)
			&:hover
				color: darken($baker-red,10)

html.mega-nav-active
	height: 100%
	overflow: hidden
	body
		height: 100%
		overflow: hidden
		+media($screen-md-max)
			padding-top: em(100)
	.main-header
		+media($screen-md-max)
			+position(fixed, 0 0 null 0)

html.no-scroll
	overflow: hidden
	body
		overflow: hidden

ul,ol
	list-style: none

// To hide the clear field X on input fields in IE
input::-ms-clear
	display: none
	height: 0
	width: 0

a,h1,h2,h3,h4,h5,h6,p
	+transition(all .45s ease)
	text-decoration: none

body,html
	overflow-x: hidden
	-webkit-font-smoothing: antialiased

#screen-size
	position: relative
	z-index: 0
	+media($screen-md-min)
		z-index: 1


body
	.show-mobile
		+media($screen-md-min)
			display: none
	.hidden-mobile
		+media($screen-sm-max)
			display: none

	.centered
		text-align: center

	.bg-light-grey
		background: $light-grey

	.bg-off-white
		background: $off-white

	.no-padding-top-desktop
		+media($screen-md-min)
			padding-top: 0

	// read_more_modifiers -This removes the chevron-right-red-hover.svg
	.content-card__read-more
		&:hover
			background: url('../../assets/images/icons/chevron-right-red.svg') 100% 60% no-repeat

.row
	+outer-container(em(1416))
	padding: 0 em(20)
	+media(min-width 1456px)
		padding: 0
	.row
		padding: 0

body
	+media($screen-md-min)
		font-size: 13px
	+media(min-width 1380px)
		font-size: 14px
	+media(min-width 1680px)
		font-size: 16px
	+media(min-width 2000px)
		font-size: 18px

.fade-screen
	+position(fixed, 0 0 0 0)
	background: black
	opacity: 0
	z-index: -1
	+transition(all .5s ease)
.fade-screen--active
	opacity: .5
	z-index: 99
